html{
    font-family: 'Roboto', sans-serif; 
    color: white;
}
#fondo {
    background: url(/img/fondo.png) 50% 0 fixed;
    background-size: cover;
    min-height: 900px;
    width: 100%;
}


.principio{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    float: center;
}

.programador{
    border: 3px solid;
    border-radius: 100px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
}

.nombre{
    font-size: xx-large;
    height: 50px;
    width: 400px;
    display: flex;
    text-align: justify;
    align-items: center;
}

.año{
    height: 50px;
    display: flex;
    text-align: justify;
    align-items: justify;
    font-size: xx-large;
}


nav{
    margin-bottom: 25px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    width: 16%;
    display: inline-block;
    align-items: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: large;
}

.presentacion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.presentacion1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentacion1 img{
    margin-right: 100px;
}

.pres{
    border-bottom: 3px solid white;
    padding-bottom: 10px;
}
.presentacion2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pres2{
    margin-right: 100px;
}

.pres2a p{
    border: 3px solid;
    border-radius: 100px;
    height: 30px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educacion, .experiencia { 
    text-align: center;
    margin: 100px;
}

.exp, .edu{
    margin-top: 50px;
}

#educacion, #experiencia{
    display: none;
}

#boton, #boton3{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    border-radius: 100px;
    height: 50px;
    width: 150px;
    font-size: x-large;
    border: 3px solid white;
    background-color: transparent;
    color: white;
}

#boton, #boton2, #boton3, #boton4{
    border-radius: 100px;
    height: 50px;
    width: 150px;
    font-size: x-large;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    cursor: grab;
  transition: 1s;
}
#boton:hover, #boton2:hover, #boton4:hover{
    background-color: black;
    width: 170px;
    height: 70px;
}

#boton3:hover{
    background-color: black;
    height: 70px;
    width: 260px;
}
#boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton3{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}




